<div class="app-container">
    <div class="errors"></div>
    <div class="button-container" id="create-event-button"><button>Create Event</button></div>
    <div class="create-form-container">
        <h3>New Redemption Event</h3>
        <div class="main-options"></div>
        <div class="command-options">
            <label>Commands:</label>
            <button type="button" id="create-form-create-command">New Command</button>
            <div class='command-group'></div>
        </div>
        <div class="button-group">
            <button type="button" id="create-form-submit-button">Create Redemption Event</button>
        </div>
    </div>
    <h3>Edit Redemption Event</h3>
    <div class="edit-form-container">
        <div class="main-options"></div>
        <div class="command-options">
            <label>Commands:</label>
            <button type="button" id="edit-form-create-command">New Command</button>
            <div class='command-group'></div>
        </div>
        <div class="button-group">
            <button type="button" id="edit-form-submit-button">Save Changes</button>
        </div>
    </div>
    <h3>Redemptions</h3>
    <div class="redemptions-container">redemptions in here</div>
</div>