<form class="command-form">
    <div class="form-group">
        <label for="function">Action Command</label>
        <select name="function" id="function-select">
            <option value="" disabled selected hidden>Select an action</option>
            <option value="SetCurrentScene">Change to Scene</option>
            <option value="Wait">Pause (ms)</option>
            <option value="SetSourceVisibility">Set Source Visibility</option>
        </select>
    </div>

    <div class="form-group action-value-group">
        {{!-- template will be injected here by jQuery depending on selection above --}}
    </div>
</form>