<form class="command-form">
    <div class="form-group">
        <label for="function">Action Command</label>
        <select name="function" id="{{index}}">
            <option value="SetCurrentScene">Change to Scene</option>
            <option value="Wait">Pause (ms)</option>
            <option value="SetSceneVisibility">Set Scene Visibility</option>
        </select>
    </div>

    <div class="form-group">
        <label for="configValue">Action Value</label>
        <input type="text" name="actionValue" id="">
    </div>
</form>