<form class="create-form">
    <div class="form-group">
        <label for="redemptionName">Redemption Name</label>
        <input type="text" name="redemptionName" id="">
    </div>
    <div class="form-group">
        <label for="startScene">Start Scene</label>
        <input type="text" name="startScene" id="">
    </div>
    <div class="form-group">
        <label for="cooldownInSeconds">Cooldown</label>
        <input type="number" name="cooldownInSeconds" id="">
    </div>
    <div class="form-group">
        <label for="hold">Hold</label>
        <input type="checkbox" name="hold" id="" value="true">
    </div>
</form>