<form class="form">
    <div class="form-group">
        <label for="url">URL</label>
        <input type="text" name="address" id="" value="{{address}}">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="text" name="password" id="" value="{{password}}">
    </div>
</form>